
<main class="'container container-fluid mt-5">
    <div class="stutus" id="stutus-bar">

        
    </div>
   
   <div>
        <h3>Search for a book</h3>
        <input class="book-input" type="text" placeholder="Search for a book">
        <button class="search-btn">Search</button>
    </div>

    <div class="current-search" id="book-search-results">
        
    </div>
</main>

<script src="js/api.js"></script>